{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        {# Employee photo #}
        <div class="col-12 col-md-4 text-center text-center">
            <img src="{{ employee.photo.url }}" alt="{{ employee.name }} {{ employee.surname }}"
                 class="img-fluid rounded">
            <div class="row">
                <div class="col text-center my-3">
                    {# Buttons #}
                    <a class="btn btn-outline-secondary mx-1" href="{% url 'employees:employee_edit' employee.pk %}"><i
                            class="bi bi-pencil pe-2"></i>Edit</a>
                    <a class='btn btn-outline-danger mx-1' href="{% url 'employees:employee_delete' employee.pk %}">
                        <i class="bi bi-trash pe-2"></i>Delete
                    </a>

                </div>
            </div>
        </div>

        {# Employee info #}
        <div class="col-12 col-md-8">
            {# Fullname #}
            <div class="mb-4">
                <h1 class="mb-1 fw-bold">{{ employee.get_fullname_ru }}</h1>
                <h2>{{ employee.position }}</h2>
            </div>

            {# Main info #}
            <p class="mb-4">Has been working {{ employee.start_date|timesince }} since {{ employee.start_date }}</p>

            {# Managers and  #}
            <div class="row">
                <div class="col">
                    <h3>Managers:</h3>
                    <ul>
                        {% for ancestors in employee.get_ancestors %}
                            <li><a href="{{ ancestors.get_absolute_url }}">{{ ancestors.get_fullname_ru }}</a></li>
                        {% empty %}
                            <p>This is top management</p>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col">
                    <h3>Subordinates:</h3>
                    <ul>
                        {% for children in employee.get_children %}
                            <li><a href="{{ children.get_absolute_url }}">{{ children.get_fullname_ru }}</a></li>
                        {% empty %}
                            <p>There are no subordinate employees</p>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}