{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
        <div class="row justify-content-center">
            <div class="col col-auto">
                <main class="form-signin">
                    <form method="POST" class="uniForm">
                        {% csrf_token %}
                                                <div class="text-center">
                        <i class="bi bi-person-circle" style="font-size: 4rem; color: cornflowerblue;"></i>
                                                </div>
                        {{ form|crispy }}
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
                    </form>
                </main>
            </div>
        </div>
{% endblock content %}